<header class="sia-main-header">
    <div class="sia-main-header-logo-wrapper">
        <img src="/assets/images/logo.svg" alt="">
    </div>
    <div>
        <div class="sia-header-menu-burger" id="sia-header-menu-burger">
            <div class="sia-header-menu-burger-line"></div>
            <div class="sia-header-menu-burger-line"></div>
        </div>
    </div>
</header>