.sia-main-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    top: 0;
    left: 0;
    background:#ebeae6;
    right: 0;
}

.sia-main-header-logo-wrapper {
    display: flex;
    align-items: center;
    padding:15px;
}

.sia-header-menu-burger {
    position: fixed;
    z-index: 10;
    top: 10px;
    right: 10px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 0 0 0;
}

.sia-header-menu-burger-line {
    width: 16px;
    height: 2px;
    background-color: black;
    margin-bottom: 5px;
}
