<div class="sia-main-wrapper">
  <app-header></app-header>
  <div>
    <drag-scroll class="sia-drag-scroll-wrapper">
      <div
        *ngFor="let property of properties; let i = index"
        [id]="i"
        class="sia-dragscroll-single"
      >
        <div class="sia-scroll-single-inner">
          <div class="sia-scroll-single-info">
            <div class="sia-scroll-single-photo">
            <img
              src="/assets/images/hotel.jpg"
              [alt]="property.title"
            />
            </div>
            <div class="sia-info-wrapper">
              <div class="sia-title-wrapper">
                <h3 class="sia-info-title">
                  {{ property.title }}
                </h3>
                <p class="sia-info-distance">
                  3.4km FROM THE CENTER
                </p>
              </div>
              <div>
                <p class="sia-info-price">
                  £79
                </p>
                <p class="sia-info-disclaimer">
                  Design may vary
                </p>
              </div>
            </div>
          </div>
          <div
            [id]="property.title"
            class="sia-book-button"
            (click)="onBbookButtonClick($event)"
          >
            BOOK
          </div>
        </div>
      </div>
    </drag-scroll>
    <agm-map
      class="sia-map" 
      [latitude]="latitude"
      [longitude]="longitude"
      [zoom]="zoom"
      [disableDefaultUI]="true"
     >
      <agm-marker *ngFor="let mapMarker of mapMarkers; let i = index"
      [latitude]="mapMarker.latitude"
      [longitude]="mapMarker.longitude"
      [iconUrl]="mapMarker.active
                ? mapMarker.iconUrlActive
                : mapMarker.iconUrl"
      (markerClick)="onMapMarkerClick(i)"
      ></agm-marker>
    </agm-map>
  </div>
</div>