.sia-main-wrapper {
    display: flex;
    flex-direction: column;
}

.sia-map {
    padding-top: 50px;
    height: calc(100vh - 50px);
    width: 100vw;
}

.sia-drag-scroll-wrapper {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 10;

    .showScroll {
        transform: translateY(0);
    }
}

.sia-scroll-single-inner {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
}

.sia-title-wrapper {
    margin-bottom: 15px;
}

.sia-info-wrapper {
    width: 100%;
    padding: 0 10px;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.sia-info-title {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 5px;
    overflow: hidden;  
    text-overflow: ellipsis;
    width: 70%;
}

.sia-info-distance {
    margin:0;
    font-size: 11px;
    color: #747d85;
}

.sia-scroll-single-info {
    display: flex;
    width:100%
}

.sia-scroll-single-photo {
    max-width: 100px;
    min-width: 100px;
    img {
        width: 100%;
    }
}

.sia-info-price {
    font-size: 24px;
    font-weight: 500;
    margin:0;
}

.sia-info-disclaimer {
    font-size: 11px;
    font-weight: 300;
    margin: 5px 0;
}

.sia-book-button {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0 0 0;
    background-color: #f7941d;
    color:#fff;
    border: none;
    transition: all linear .3s;
    cursor: pointer;
    &:hover {
        background-color: #d47e13;
    }
}

.sia-marker-active {
    .sia-scroll-single-inner {
        border: 5px solid orange;    
    }
}

.sia-dragscroll-single {
    padding: 5px;
    height: 100%;
    min-width: 100vw;
    max-width: 100vw;
}

@media screen and (min-width: 380px) {
    .sia-dragscroll-single {
        min-width: 380px;
        max-width: 380px;
    }
}